button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to bottom, #D2B48C, #8B4513);
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #fc9303;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

button:hover {
    filter: brightness(110%);
}

    button:hover .front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}




/*/////////////////////////////////////////////////////////////////////////*/
#shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    color: black;
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

#shadow__btn {
    background: #fc9303;
}

    #shadow__btn:hover {
        box-shadow: 0 0 5px #fc9303, 0 0 25px #fc9303;
    }

/*/////////////////////////////////////////////////////*/
/*Login*/
.w-100.btn.btn-lg.btn-primary {
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    color: black;
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}
.w-100.btn.btn-lg.btn-primary {
    background: #fc9303;
}
    .w-100.btn.btn-lg.btn-primary:hover {
        box-shadow: 0 0 5px #fc9303, 0 0 25px #fc9303;
    }
            
  /*///////////////////////////////////////////////////////////////*/
/*Search*/
.input {
    border: 1px solid #fc9303;
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: black;
    cursor: pointer;
    padding: 7px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    max-width: 170px;
}

    .input:focus {
        outline-color: #fc9303;
    }

/*///////////////////////////////////////////////////////////////////*/
/*dropdawn*/
.select-dropdown {

    border: 5px solid #fc9303; /* set the border color */
    border-radius: 40px; /* add some border radius */
    padding: 5px; /* add some padding */
    font-size: 16px; /* set the font size */
}
.drop-place {
    position: absolute;
    top: 30px;
    right: 150px;
    border-radius: 40px
}