@page
@model startBank.Pages.Account.TransactionsModel
@{
}
<h1 style="padding-top:30px;color:white">Transfer</h1>
<h3 style="color:white">Balance: @Model.Balance kr</h3>
   
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form method="post">
        <p style="padding-top:100px;"></p>
    <div style="display:flex; justify-content:space-around;">
    <div class="form-group">
        <label for="toAccountId">To Account</label>
        <input type="text" class="form-control" id="toAccountId" name="ToAccountId">
    </div>

   @* <div class="mb-3">
        <label class="form-label">Name</label>
        <p><input type="text" class="form-control"  /></p>
    </div>*@

    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" name="Amount">
    </div>
    <div class="form-group">
        <label asp-for="TransactionDate">Date</label>
        <input class="form-control" asp-for="TransactionDate" />
        <span class="field-validation-error" asp-validation-for="TransactionDate"></span>
    </div>
    </div>
    <p style="padding-top:50px;"></p>
    <div style="display:flex; justify-content:start;">
    <input type="hidden" name="FromAccountId" value="@Model.AccountId">
        <a asp-page="/CustomerView" id="shadow__btn">Back</a>
        <button type="submit" id="shadow__btn">Transfer</button>
    </div >
</form>

