@page
@model startBank.Pages.Account.WithDrawModel
@{
}
<h1 style="padding-top:30px; color:white">Withdraw</h1>

<h3 style="color:white">Balance: @Model.Balance kr</h3>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<form method="post" style="color:white">
    <p style="padding-top:30px;"></p>
    <div style="display:flex; justify-content:space-around;">
        <div class="MyGroups">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
        <div>
            <span class="field-validation-error" asp-validation-for="Amount"></span>
        </div>
    </div>
        <div class="MyGroups">
        <label asp-for="WithdrawDate">Date</label>
        <input class="form-control" asp-for="WithdrawDate" />
        <div>
            <span class="field-validation-error" asp-validation-for="WithdrawDate"></span>
        </div>
    </div>
    </div>
    <p style="padding-top:30px;"></p>
    <div class="MyContainer">
        <div class="MyGroup">
            <label asp-for="Comment">Comment</label>
            <textarea class="form-control narrow" asp-for="Comment" rows="3"></textarea>
            <span class="field-validation-error" asp-validation-for="Comment"></span>
        </div>
    </div>

    <div style="display:flex; justify-content:start;">
        <a asp-page="/CustomerView" id="shadow__btn">Back</a>
        <button type="submit" id="shadow__btn">Withdraw</button>
    </div>
</form>
@*<td><a asp-page="/CustomerView" class="get-started-btn scrollto">back</a></td>*@

