@page
@model startBank.Pages.ViewModel.NorwayModel
@{
}

<h1 style="padding-top:65px;">Top 10 Customers in Norway</h1>
<table class="table table-#373b3e" style="color:white;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.TopTenNorway.Take(10))
        {
            <tr id="CustomerHoverCountry">
                <td>@customer.Name</td>
                <td>@customer.LastName</td>
                <td>@customer.Balance</td>
            </tr>
        }
    </tbody>
    <td><a asp-page="/index" class="get-started-btn scrollto">Back</a></td>
</table>
