@page
@model startBank.Pages.Country
@{

}
<p style="padding-top: 30px"></p>
<table class="table table-#373b3e" style="color:white;">
    <thead >
        <tr scope="col">
            <td>Country</td>
            <td>Customers</td>
             <td>Accounts</td>
            <td>Total Capital</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.CountryList.Count; i++)
        {
            <tr scope="col">
                <td>@Model.CountryList[i]</td>
                <td>@Model.Customers[i]</td>
                <td>@Model.Accounts[i]</td>
                <td>@Model.TotalCapital[i]</td>

            </tr>
        }
    </tbody>
</table>


