@page
@model startBank.Pages.OneCustomerModel
@{
}

<h2 class="CustomerOne" style="padding-top:100px; color:white">@Model.NationalID</h2>
<h2 class="CustomerOne" style="color:white">@Model.CustomerName</h2>
<h2 class="CustomerOne" style="color:white">@Model.Adress</h2>
<h2 class="CustomerOne" style="padding-bottom:100px;color:white">@Model.City</h2>

    