@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="padding-top:100px; color:white;">@ViewData["Title"]</h1>

<p style="padding-bottom:100px; color:white;">Use this page to detail your site's privacy policy.</p>
